*.swp
.DS_Store
.DS_Store?
*~

.metadata/
tests/
temp/
web/*
xava/*

!xava/application.xml
!xava/controllers.xml
!xava/editors.xml

# swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

act.sh
